<h1>Order ID: <%= @order.id %></h1>
<ul>
  <li>Ordered On: <%= @order.created_at %></li>
  <li>Updated On: <%= @order.updated_at %></li>
  <li>Order Status: <%= @order.status %></li>
  <li>Total Items: <%= @order.total_item_count %></li>
  <li>Grand Total: <%= @order.grandtotal %></li>
</ul>
