<h1 align= "center">Register as a User</h1>
<center>
  <%= form_tag '/users' do |f| %>

    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :address %>
    <%= text_field_tag :address %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= label_tag :zip %>
    <%= text_field_tag :zip %>

    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= label_tag :password %>
    <%= text_field_tag :password %>

    <%= label_tag :password_confirmation %>
    <%= text_field_tag :password_confirmation %>

    <%= submit_tag 'Create User' %>
  <% end %>
</center>
