<h1>Edit Password for <%= @user.name %></h1>
<%= form_tag "/users/#{@user.id}", method: :patch do |f| %>

  <%= label_tag :new_password %>
  <%= password_field_tag :new_password %>

  <%= label_tag :new_password_confirmation %>
  <%= password_field_tag :new_password_confirmation %>

  <%= submit_tag 'Update Password' %>

<% end %>
