<h1>Merchant Dashboard</h1>

<h2><%=@merchant.name%> </h2>
<p><%=@merchant.address%></p><br>
<p><%=@merchant.city%>, <%=@merchant.state%></p><br>
<p><%=@merchant.zip%></p>

<h2><%= link_to "View Your Items", "/merchant/items" %></h2>
